.searchHidden {
  display: none;
}

.searchShow {
  display: block;
}

audio {
  display: row;
  margin: 0 auto;
}
.playlistIcon {
  display: row;
  margin-bottom: 40px;
  width: 50px;
  height: 50px;
}

.results {
  width: 50%;
  display: flex;
  float: left;
}
