body {
  padding: 0;
}
.searchHidden {
  display: none;
}

.searchShow {
  display: block;
}

audio {
  display: row;
  margin: 0 auto;
}
.playlistIcon {
  display: row;
  margin-bottom: 40px;
  width: 50px;
  height: 50px;
}

.results {
  width: 40%;
  display: flex;
  float: left;
}
#playlistCollapse {
  float: left;
  width: 50%;
}
#resultsCollapse {
  float: left;
  width: 40%;
  justify-content: left;
}
.results {
  float: left;
  justify-content: left;
}

.collapsible-header {
  display: block;
  flex-wrap: wrap-reverse;
}

audio {
  width: 80%;
}

.modal {
  height: 50%;
}

.duration {
  float: right;
}
