body {
  padding: 0;
}

audio {
  display: row;
  margin: 0 auto;
}

.collapsible-header {
  background-color: #66bb6a;
}

audio {
  width: 80%;
}

.modal {
  height: 50%;
}

body {
  width: 100%;
}

.container {
  width: 90%;
  border: black;
}

#playlistCollapse {
  background-color: white;
  text-align: center;
}

.collapsible {
  overflow: hideen;
}
h2 {
  text-align: center;

.duration {
  float: right;
}
